[submodule "external/livekit-protocol"]
	path = external/livekit-protocol
	url = https://github.com/livekit/protocol.git
[submodule "external/amazon-kinesis-video-streams-webrtc-sdk-c"]
	path = external/amazon-kinesis-video-streams-webrtc-sdk-c
	url = https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c.git
